.menu {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 25px auto;
  padding: 20px;
  padding-top: 5px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px grey;
}

.country-tabs {
  height: 60px;
  display: flex;
}

.country-dropdown {
  display: none;
  padding: 2px;
  position: relative;
  font-size: 35px;
  border-bottom: 2px solid #6b068a;
}

.choosen-country::after {
  content: '';
  background-image: url('data: image/svg+xml, <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="%236b068a" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" ></path></svg>');
  height: 50px;
  width: 50px;
  position: absolute;
  right: -12px;
  bottom: calc(100% - 50% - 25px);
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px;
  top: calc(100% + 2px);
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
  box-shadow: 0px 7px 5px 3px grey;
}

.select {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

ul .select:hover,
ul .select:active {
  background-color: rgb(193, 193, 193);
}

.select span {
  margin-left: 5px;
}

.choosen-country {
  color: #6b068a;
  font-weight: bold;
  width: calc(100% - 30px);
}

.country-tab {
  height: 100%;
  flex: 1 1 auto;
  text-align: center;
  border-bottom: 2px solid #6b068a;
  background-color: white;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.country-tab.active {
  border: 2px solid #6b068a;
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  padding-top: 0;
  padding-bottom: 2px;
}

.flag {
  height: 55px;
  box-shadow: 0 0 5px 1px #80808080;
}

.flag.flag-select {
  height: 70px;
}

@media (max-width: 1020px) {
  .menu {
    margin: 25px 15px;
  }

  .country-tabs {
    display: none;
  }

  .country-dropdown {
    display: block;
  }
}

@media (max-width: 500px) {
  .menu {
    margin: 15px 0;
    padding: 10px;
    width: 100vw;
  }

  .country-dropdown {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .flag.flag-select {
    height: 40px;
  }
}